{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    "babel-plugin-styled-components",
    "@babel/plugin-transform-runtime",
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@atoms": ["./src/components/Atoms/index.ts"],
          "@molecules": ["./src/components/Molecules/index.ts"],
          "@organisms": ["./src/components/Organisms/index.ts"],
          "@utils": ["./src/utils/index.ts"],
          "@theme": ["./src/theme/index.ts"]
        }
      }
    ]
  ]
}
